#stalker{
    font-family: 微软雅黑;
    margin-top: 100px;
    float:right;
    margin-right: 20px;
}
.nav {

    padding: 8px 15px 20px 20px;
    box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
    background: rgba(4, 18, 27, 0.88);
    border-radius: 5px;
    color: rgba(88, 178, 220, .7);
    width: 130px;
    
}
.nav label {
    display: block;
}
.nav span {
    padding-left: 15px;
}
.nav span:hover{
    color: rgba(255,255,255,.8);
}
.btn {
    display: block;
    margin-top: 10px;
    width: 100px;
    height: 30px;
    text-decoration: none;
    background: rgba(9, 97, 72, .8);
    color: white;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 0px;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
}
.btn:hover {
    background: rgba(0, 137, 108, .8);
}
